@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 14px;
  color: #555;
  font-family: 'Helvetica';
  background: #d9dbd4;
}

i {
  cursor: pointer;
  color: #999;
  font-weight: 100;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

h4 {
  font-weight: normal;
  color: #000;
  font-size: 1.1rem;
}

h5 {
  font-weight: normal;
  color: #000;
}

input {
  padding: 10px 20px;
  border-radius: 20px;
  background: #fff;
  border: none;
}

input[type=text]:focus {
  outline: none;
}

input.filter {
  width: 95%;
}

.display-none {
  display: none;
}

.background-line {
  width: 100%;
  height: 15vh;
  background-color: #009688;
}

.main-cont {
  width: 90vw;
  height: 95vh;
  background-color: hsl(210, 17%, 98%);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.6);
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-cont {
  width: 30%;
  height: 100%;
  border-right: 1px solid #ccc;
}

.contact-filter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message-cont {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: #e5ddd5;
  background-image: url("../img/bg-chat.png");
}

.contact-head,
.message-head,
.message-bottom {
  width: 100%;
  height: 60px;
  background-color: #ededed;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-head,
.message-head {
  padding: 5px 10px; 
}

.notification {
  width: 100%;
  height: 80px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #9de1fe;
  display: flex;
  align-items: center;
}

.notification h4 {
  font-size: 1rem;
}

.notification a {
  color: #777;
}

.notification a:hover {
  color: #555;
  text-decoration: underline;
}

.notification svg {
  color: #fff;
}

.message-bottom {
  padding: 10px 30px;
}

.icon-cont-head {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.icon-message-head {
  width: 15%;
  display: flex;
  justify-content: space-evenly;
}

.contact-filter {
  width: 100%;
  height: 70px;
  background: #eee;
}

.contacts {
  overflow: auto;
}

.contact {
  width: 100%;
  height: 70px;
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-bottom: 0.8px solid #ccc;
}

.contact:hover {
  background: #ddd;
}

.contact-img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.info-cont {
  margin-left: 10px;
}

.message-main {
  width: 100%;
  padding: 20px;
  overflow: auto;
  flex-grow: 1;
  background: rgba(229, 221, 213, 0.9);
}

.user-message-cont {
  display: flex;
  margin-bottom: 15px;
  justify-content: right;
}

.active-user {
  display: flex;
  align-items: center;
}

.active-user-info {
  margin-left: 10px;
}

.speker-message-cont {
  display: flex;
  margin-bottom: 15px;
  justify-content: left;
}

.message-cloud-v1,
.message-cloud-v2 {
	max-width: 60%;
  padding: 10px 45px 10px 20px;
  word-wrap: break-word;
  color: #000;
	position: relative;
	transform: rotate(0);
}
	
.message-cloud-v1:before,
.message-cloud-v2::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-bottom: 10px solid transparent;
}

.message-cloud-v1{
  background-color: #fff;
  border-radius: 0 10px 10px 10px;
}

.message-cloud-v1:before {
  right: 100%;
  top: 0;
  border-right: 10px solid #fff;
}

.message-cloud-v2 {
  background-color: #dcf8c6;
  border-radius: 10px 0 10px 10px;
}

.message-cloud-v2:before {
  left: 100%;
  top: 0;
  border-left: 10px solid #dcf8c6;
}

.message-hour {
  font-size: 0.6rem;
  color: #555;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.input-bottom {
  width: 80%;
}

.message-icon {
  font-size: 1rem;
  display: none;
  position: absolute;
  top: 5px;
  right: 10px;
}

.message-cloud-v1:hover .message-icon,
.message-cloud-v2:hover .message-icon{
  display: block;
}

.init-message-cont {
  width: 70%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
}