<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="js/script.js"></script>
    <title>vue-boolzapp</title>
  </head>
  <body>
    <div class="background-line"></div>
    <div id="app">
      <div class="main-cont">

        <!-- left-cont -->
        <div class="contact-cont">
          
          <div class="contact-head">
              <img src="img/me.jpeg" alt="avatar" class="contact-img">
              <div class="icon-cont-head">
                <i class="fas fa-circle-notch"></i>
                <i class="fas fa-comment-alt"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
          </div>

          <div class="contact-filter">
            <input type="text" class="filter" v-model="searchUsers" @keyup.enter="searchUser" placeholder="Cerca o inizia una nuova chat">
          </div>

          <div class="contacts">
            <div v-for="(contact, index) in contacts">
              <div v-if="contact.visible == true">
                <div @click="messageGen(index)" class="contact">
                  <img :src="'img/' + contact.avatar" alt="Profile image" class="contact-img">
                  <div class="info-cont">
                    <h4>{{ contact.name }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <!-- right-cont -->
        <div class="message-cont">

          <div class="message-head">
            <div class="active-user">
              <img :src="'img/' + activeUser.avatar" alt="Profile image" class="contact-img">
              <div class="active-user-info">
                <h4>{{ activeUser.name }}</h4>
                <span>Ultimo accesso {{ activeUser.lastEntry }}</span>
              </div>
            </div>
          </div>

          <div class="message-main">
            <div v-for="elem in activeUser.messages">
              <div v-if="elem.status == 'sent'" class="user-message-cont">
                <div class="message-cloud-v2">
                  {{ elem.text }}
                </div>
              </div>
              <div v-else class="speker-message-cont">
                <div class="message-cloud-v1">
                  {{ elem.text }}
                </div>
              </div>
            </div>
          </div>

          <div class="message-bottom">
            <i class="far fa-grin"></i>
            <i class="fas fa-paperclip"></i>
            <input type="text" class="input-bottom" v-model="message" @keyup.enter="newMessageGen(message)" placeholder=" Scrivi un messaggio">
            <i class="fas fa-microphone"></i>
          </div>
        </div>

        <div :class="'init-message-cont' +  displayClass"></div>

      </div>
    </div>
  </body>
</html>